<head>
    <meta name="decorator" content="atl.admin" />
    <title>$i18n.getText("saml2plugin.admin.title")</title>
    <meta name="admin.active.section" content="admin_system_menu/top_system_section/mail_section">
    <meta name="admin.active.tab" content="saml2plugin.config.link">
    $webResourceManager.requireResource("com.bitium.jira.SAML2PluginJira:admin-resources")
</head>
<body>

    #if ($success == "success")
        <div class="aui-message closeable shadowed info">
            <p>$textutils.htmlEncode($i18n.getText("saml2plugin.admin.message.saved"))</p>
        </div>
    #elseif (${hasErrorMessages})
      <div class="aui-message closeable error">
            #foreach ( $error in $action.getErrorMessages() )
                <p>$textutils.htmlEncode( $error )</p>
            #end
        </div>
    #end
    <form class="aui" name="saml2pluginjira-configure-form" method="POST" action="${req.contextPath}/secure/admin/saml2pluginjira.configure.jspa">

        <input type="hidden" name="submitAction" value="submit"/>

	#set($urlPrefix = "http://")
        #if ($req.secure)
            #set($urlPrefix = "https://")
        #end

        <div class="field-label">$i18n.getText("saml2plugin.admin.field.samlEndpoint")</div>
        <div>
          <input class="field-input" id="samlEndpoint" type="text" disabled="disabled" value="$urlPrefix${req.serverName}:${req.serverPort}${req.contextPath}/plugins/servlet/saml/auth">
          <input class="aui-button aui-button-primary" id="copy-button" value="Copy" style="font-size:12px;margin-left:-65px;width:55px;padding-bottom:2px;"/>
	  <span id="endpoint-copied" style="visibility:hidden;color:grey;font-size:12px;margin-left:10px;">$i18n.getText("saml2plugin.admin.endpoint-copied")</span>
        </div>
	<div class="field-desc">$i18n.getText("saml2plugin.admin.field.samlEndpoint.desc")</div>
        <div class="field-label">$i18n.getText("saml2plugin.admin.field.loginUrl")</div>
        <input class="field-input" type="text" name="loginUrl" id="loginUrl" value="$textutils.htmlEncode( $loginUrl )"/>
        <div class="field-desc">$i18n.getText("saml2plugin.admin.field.loginUrl.desc")</div>
##        <div class="field-label">$i18n.getText("saml2plugin.admin.field.logoutUrl")</div>
##        <input class="field-input" type="text" name="logoutUrl" id="logoutUrl" value="$textutils.htmlEncode( $logoutUrl )"/>
##        <div class="field-desc">$i18n.getText("saml2plugin.admin.field.logoutUrl.desc")</div>
        <div class="field-label">$i18n.getText("saml2plugin.admin.field.uidAttribute")</div>
        <input class="field-input" type="text" name="uidAttribute" id="uidAttribute" value="$textutils.htmlEncode( $uidAttribute)"/>
        <div class="field-desc">$i18n.getText("saml2plugin.admin.field.uidAttribute.desc")</div>
        <div class="field-label">$i18n.getText("saml2plugin.admin.field.x509Certificate")</div>
        <textarea class="field-input" name="x509Certificate" id="x509Certificate" rows="10">$textutils.htmlEncode( $x509Certificate )</textarea>
        <div class="field-desc">$i18n.getText("saml2plugin.admin.field.x509Certificate.desc")</div>
        <div class="field-label">$i18n.getText("saml2plugin.admin.field.entityId")</div>
        <input class="field-input" type="text" name="entityId" id="entityId" value="$textutils.htmlEncode( $entityId )"/>
        <div class="field-desc">$i18n.getText("saml2plugin.admin.field.entityId.desc")</div>
        <div class="field-label">
          <input type="checkbox" name="idpRequired" id="idpRequired" class="checkbox"
          #if ($idpRequired.equals("true"))
            checked 
          #end>$i18n.getText("saml2plugin.admin.field.idpRequired")</div>
        <div class="field-desc" style="margin-left:20px;">$i18n.getText("saml2plugin.admin.field.idpRequired.desc")</div>

        <div style="margin-top:10px"><input class="aui-button aui-button-primary" type="submit" value="$i18n.getText('save.name')"></div>
        
    </form>
</body></html>
